doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Proyecto Universidad | #{pagina}
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg-gray-50 
        nav.bg-white.shadow
            .container.mx-auto.px-4
                .flex.justify-between.items-center.h-16
                    a.text-xl.font-bold.text-gray-800(href="/") Proyecto Universidad
                    ul.flex.space-x-4
                        li
                            a(href="/estudiantes/listarEstudiantes" class="text-gray-600 hover:text-indigo-600 font-bold") Listar Estudiantes
                        li
                            a(href="/profesores/listarProfesores"  class="text-gray-600 hover:text-indigo-600") Listar Profesores
                        li
                            a(href="/" class="text-gray-600 hover:text-indigo-600") Listar Cursos
        main(class="mx-auto container mt-10 px-2")
            block contenido
            block scripts
S

